html{
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  ul img {
    float: left;
    margin-top: -20px;
    
  }
  li {
    float: right;
    margin-right: 3%;
    margin-left: 3%;
  }
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 30px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(85, 84, 84);
}
body{
    width: 100%;
}
main {
    margin: 0;
    width: 100%;
    background-color: rgb(255, 252, 228);
}
.aboutMainContent{
    width: 80%;
    margin: 0 auto;
   padding: 20px;
}
 .heroImage{
    background-image: url(../img/aboutUsImg.jpg) ;
    background-size: 100% 400px;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
.centered{
    position: relative;
    background-color: rgba(0, 0, 0, 0.685);
    width: 100%;
    height: 100%;
}
.centered span{
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 30%;
    left: 45%;
    color: white;
    font-size: 5em;
    text-align: center;
}

.aboutDescription p{
    margin: 20px auto;
    text-align: center;
    font-size: 2em;
}
.aboutDescription p strong{
    font-weight: bold;
}

.left {
display: flex;
align-items: center;
justify-content: center;


}
.left .socialMedia {
   margin-top: 10px;
    height: 130px;
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
   margin-right: 20px;
}
.right .socialMedia {
    margin-left: 10px;
     height: 130px;
     display: flex;
     flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
 }
i a {
    text-decoration: none;
    
}
.fa-github{
    color: inherit;
}
.memberImg img {
    height: 150px;
    width: 150px;
}
.left .memberDesc {
   margin-left: 10px;
   width: inherit;
}
.right .memberDesc {
    width: inherit;
    margin-right: 10px;
 }
.right {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
justify-content: center;

  
}
.socialMedia i:hover {
    transform: scale(1.5);
}

  hr {
      margin: 50px auto;
  }
  .left , .right {
      width: 85%;
      margin: 0 auto;
  }

  .memberDesc p{
    font-size: 1.2rem;
    /* font-weight: 700; */
    padding: 5px;
  }
  .memberDesc p strong{
      font-size: 1.2rem;
      font-weight: 700;
  }