footer{
    margin-top: 20px;
    background-image : url(../img/footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(228, 228, 228);
    box-shadow: 0px 0px 15px #373737;
}
.footerContainer{
    height: 300px;
    background-color: rgba(0, 0, 0, 0.692);
}
.footerContainer .upperFooterContent{
    width: 100%;
    display: table;
    height: 80%;
}
.upperFooterContent .rightFooterContainer, .upperFooterContent .leftFooterContainer{
    display: table-cell;
    width: 50%;
    padding: 20px;

}
.upperFooterContent .rightFooterContainer{
    /* background-color: blue; */
    /* padding-left: 30px; */
    /* border-right: 2px solid gray; */
}
.upperFooterContent .leftFooterContainer{
    /* background-color: rgb(255, 0, 0); */
    text-align: left;
    padding: 25px 100px;
}
.footerContainer .bottomFooterContent{
    text-align: center;
    border-top: 2px solid gray;
    /* background-color: black; */
    color: rgb(5, 0, 0);
    height: 20%;
    margin-top: 10px;
}
.locationInfo ,.numberInfo,.mailInfo{
    display: flex;
    margin :10px
}
.leftFooterContainer div i{
    margin: 10px;
    padding: 10px;
    width: 35px;
    height:35px ;
    text-align: center;
    /* border: 1px solid red; */
    border-radius: 50%;
    background-color: rgb(65, 65, 65);
}
.leftFooterContainer div p{
    /* border: 1px solid rgb(119, 0, 255); */
    font-weight: 700;
    font-size: 1.2em;
    padding: 27px 0;
}

.aboutUsInfo h2{
    font-weight: 700;
    font-size: 2.5em;
    margin: 20px;
}
.aboutUsInfo .footerDesc{
    /* font-weight: 700; */
    /* font-size: x-large; */
    margin: 20px;
    /* border:1px solid red */
}
.iconsDiv{
    /* display: table; */
    width: 40%;
    margin:  40px auto;
}
.iconsDiv a{
    color: inherit;
}
.iconsDiv a i{
    margin: 3px;
    /* color: inherit; */
}