
html {
    width: 85%;
    margin: 0 auto;
}

nav {
    padding: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }


  ul img {
    float: left;
    margin-top: -20px;
    
  }
  li {
    float: right;
      margin-right: 3%;
    padding-left: 50px;
  }
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 30px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    font-size: 30px;
  
  }
  



.slideshow-container {
    clear: both;
    
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 10%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


main h1 {
    font-family: 'Tangerine', cursive;
        font-size: 40px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 1%;
    color: #f3722c;
    margin-top:  50px;
    margin-bottom: 30px;
}
.cat {
    width: 29%;
    height: 375px;
    float: left;
    margin-left: 3.5%;
    border-radius: 5px;
    margin-top: 2%;
   
}


.container  {
    border-top: double;
    border-top-width: 25px;
  
}

 .container , .container1 , .container2 {

 }


.overlay  , .overlay1, .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
} 

.container :hover .overlay , .container1 :hover .overlay1 , .container2 :hover .overlay2 {

    opacity: 1;

}


.text , .text1 , .text2  {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


section {
    /* margin-top: 100px; */
    margin-bottom:  40px;

}

#leftCol {
margin-top: 20px;
    width: 48%;
    float: left;
    margin-left: 5%;
    margin-right: 1%;
    /* height: 500px; */
    border-radius: 5px;
    margin-bottom:  40px;

}



.rightcor {
    margin-top: 20px;
    width: 40%;
    float: left;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom:  40px;


}

.rightcor img {
 width: 100%;
 
}




footer {
    clear: both;
    background-color:  #a5a58d;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 2px gray;


}
 footer i {
     padding: 15px;
 }
 footer h4 {
     margin-top: 60px;
     margin-left: -10px;
 }
 footer i a {
    font-size: 25px;
 text-decoration: none;
 color: #001d3d;


}

/* 
a:hover {
    text-decoration: underline;
    color: #eb5e28;

} */


article {
  margin-top: 20px;
}

article ul {
  clear: both;
margin-bottom: 30px;

  transform: translate(-60%);

}




article ul li {
  font-size: 2em;
  font-weight: bolder;
  transform-origin: left;
  animation: animate 6s infinite;
  font-family: 'Courgette', cursive;
  color: #284b63;
}


@keyframes animate {
  0% 
  {
    opacity : 0 ; 

  }

   50% 
   {
     opacity: 1;

   }

   100% {
     opacity: 0;
   }
}



article ul li:nth-child(1)
{
  animation-delay: .8s;
}


article ul li:nth-child(2)
{
  animation-delay: .6s;
}


article ul li:nth-child(3)
{
  animation-delay: .4s;
}


article ul li:nth-child(4)
{
  animation-delay: 0s;
}

article p {
  font-family: 'Courgette', cursive;
    font-size: 2em;
  font-weight: bolder;
  color: #284b63;
  text-align: center;
  margin-top: 20px;
}