
html {
    width: 90%;
    margin: 0 auto;
}
body{
  background-color: #ffffff05;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  ul img {
    float: left;
    margin-top: -20px;
    
  }
  li {
    float: right;
    margin-right: 3%;
    margin-left: 3%;
  }
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 30px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(85, 84, 84);
  transition: color .5s ;
  }
  



.slideshow-container {
    clear: both;
    
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  /* position: relative; */
  margin: auto;
  height: 10%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


main h1#sentence{
    clear: both;
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 1%;
    color: #f3722c;
    margin-top:  50px;
    margin-bottom: 30px;
}
.container {
    width: 29%;
    height: 375px;
    float: left;
    position: relative;
    margin-left: 3.5%;
    border-radius: 5px;
    margin-top: 2%;
   
}
.container1 {
  width: 29%;
  height: 375px;
  float: left;
  position: relative;
  margin-left: 3.5%;
  border-radius: 5px;
  margin-top: 2%;
 
}
.container2 {
  width: 29%;
  height: 375px;
  float: left;
  position: relative;
  margin-left: 3.5%;
  border-radius: 5px;
  margin-top: 2%;
 
}
/* kids Collection */
body > main > div.container2 > img {
  display: block;
  width: 115%;
  height: 91%;
  border-radius: 10px;
}

.container2:hover img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.7;
}


.text2 {
  text-shadow: 2px 0 20px rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
body > main > div.container2 > div > a{
  text-decoration: none;
  color: white;
}

/* Women Collection */
body > main > div.container1 > img {
  display: block;
  width: 105%;
  height: 91%;
  border-radius: 10px;
  margin-left: -6%;
}

.container1:hover img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.7;
}

.text1  {
  text-shadow: 2px 0 20px rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 190px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
body > main > div.container1 > div > a{
  text-decoration: none;
  color: white;
}

/* Men Collection */
body > main > div.container > img {
  display: block;
  width: 100%;
  height: 91%;
  border-radius: 10px;
  margin-left: -6%;
}

.container:hover img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.7;
}

.text  {
  text-shadow: 2px 0 20px rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 191px;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
body > main > div.container > div > a{
  text-decoration: none;
  color: white;
}

section {
    /* margin-top: 100px; */
    margin-bottom:  40px;

}

#leftCol {
margin-top: 20px;
    width: 48%;
    float: left;
    margin-left: 5%;
    margin-right: 1%;
    border-radius: 5px;
    margin-bottom:  40px;

}



.rightcor {
    margin-top: 20px;
    width: 40%;
    float: left;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom:  40px;


}

.rightcor img {
 width: 100%;
 
}




footer {
    clear: both;
    background-color:  #a5a58d;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 2px gray;


}
 footer i {
     padding: 15px;
 }
 footer h4 {
     margin-top: 60px;
     margin-left: -10px;
 }
 footer i a {
    font-size: 25px;
 text-decoration: none;
 color: #001d3d;


}


body > header > div:nth-child(1) > nav > ul > li > a:hover {
    text-decoration: underline;
    color: #eb5e28;
    font-size: 35px;
}


article {
  margin-top: 20px;
}

/* article ul {
  clear: both;
  margin-bottom: 30px;
  transform: translate(-38%,-4%);
  padding-bottom: 5px;
} */




/* article ul li {
  font-size: 2em;
  font-weight: bolder;
  transform-origin: left;
  animation: animate 3s infinite;
  font-family: 'Courgette', cursive;
  color: #284b63;
}


@keyframes animate {
  0% 
  {
    opacity : 0 ; 

  }

   50% 
   {
     opacity: 1;

   }

   100% {
     opacity: 0;
   }
} */



/* article ul li:nth-child(1)
{
  animation-delay: .3s;
  margin-left: 1%;
}


article ul li:nth-child(2)
{
  animation-delay: .2s;
  margin-left: 1%;
}


article ul li:nth-child(3)
{
  animation-delay: .1s;
  margin-left: 1%;

}


article ul li:nth-child(4)
{
  animation-delay: 0s;
  margin-left: 1%;

} */


.caption  h1{
  clear: both;
  font-size: 10vw;
  color: white;
  text-align: center;
  -webkit-text-stroke: .3vw white;

text-transform: uppercase;
position: relative;
}


 .caption h1::before {
  content:attr(data-text);
  position: absolute;
  top:0;
  left: 19.5%;
  width: 0;
  height: 100%;
  -webkit-text-stroke: 0vw rgb(73, 78, 83);
  color: #284b63;
border-right:2px solid #8f98be ;
overflow: hidden;
animation: animate1 3s linear infinite;

}
 
@keyframes animate1 {

0% , 10% , 100%{
  width: 0;
}

70% , 90% 
{
  width: 60%;
}


 }





article p {
  font-family: 'Courgette', cursive;
    font-size: 2em;
  font-weight: bolder;
  color: #284b63;
  text-align: center;
  margin-top: 20px;
}


.leftColumn {
  width: 70%;
  float: left;
  border: solid;
  border-radius: 20px;
  margin-right: 5%;
  position: relative;
  margin-bottom: 3%;
  font-family: 'Shadows Into Light', cursive;

}
.rightColumn{
  width: 25%;
  float: left;
  border: solid;
  border-radius: 20px;
  padding: 1.5%;
  font-family: 'Shadows Into Light', cursive;
  margin-bottom: 3%;

}

.leftColumn p{
  text-align: center;
  width: 100%;
  font-size: 23px;
}

.leftColumn p span{
  margin-right: 60%;
  font-size: 35px;

}
.leftColumn>p:first-of-type>i{
  width: 20%;
  margin-top: 1%;
  margin-right: -5%;
}
input{
  padding: 15px;
  background-color: #84af99;
  border-radius: 5px;
  margin: 15px;
}
h2{
  font-size: 35px;
  margin-bottom: 20px;
}
h3{
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
h4{
  font-size: 20px;
  padding-bottom: 10px;
}
body > main > div.rightColumn > form>select{
  padding: 8px;
  font-size: 18px;
}
body > main > div.rightColumn > form>select:focus{
  background-color: #84af99;
}