html{
    width: 85%;
    margin: auto;
}
body {
 box-sizing: border-box;
}
main{
 width: 100%;
}

.upperContent {
  padding: 10px;
  margin: 0 10px;
}
.upperContent h1 {
  font-size:3em;
}


  .products {
    display: grid;
    grid-template-columns: auto auto auto;
   
    
    
    padding: 10px;
  }
  
  .grid-item { 
    margin:0 10px;
    height: 90%;
    position: relative;
  }
  
  .grid-item .imgBox{
    height: 100%;
    
  }
  .grid-item .imgBox img{
    width: 100%;
    height: 100%;
  }
 .grid-item .desc {
  position: absolute;
  left: 1%;
  bottom: 0%;
  margin: 10px;
  font-weight: 900;
  font-size: 1.4em;
    max-width: 60%;
}

.price-addToCartBtn {
  position: absolute;
  text-align: center;
  right: 1%;
  bottom:1%;
  font-weight: 700;
  font-size: 1.9em;
}
.addToCartBtn button {
  font-weight: 600;
font-size: 0.5em;
padding: 5px 18px;
height: 35px;
color: white;
background-color: rgba(29, 29, 29, 0.993);

}
.addToCartBtn button:hover {
  color: inherit;
  background-color: inherit;
}